<div class="card instructions-card">
    <ul>
      <li>
        <b>PLACE X,Y,DIRECTION</b>
        <div>
          <span class="notes"><b>X</b>and <b>Y</b> are integers that indicate a location on the tabletop.</span>
          <span class="notes"><b>DIRECTION</b> is a string indicating which direction the robot should face. It it one of the four cardinal directions: <b>NORTH, EAST, SOUTH or WEST.</b></span>
        </div>
      </li>
      <li>
        <b>MOVE</b>
        <div>
          <span class="notes">Instructs the robot to move 1 square in the direction it is facing.</span>
        </div>
      </li>
      <li>
        <b>LEFT</b>
        <div>
          <span class="notes">Instructs the robot to rotate 90° anticlockwise/counterclockwise.</span>
        </div>
      </li>
      <li>
        <b>RIGHT</b>
        <div>
          <span class="notes">Instructs the robot to rotate 90° clockwise.</span>
        </div>
      </li>
      <li>
        <b>REPORT</b>
        <div>
          <span class="notes">Outputs the robot's current location on the tabletop and the direction it is facing.</span>
        </div>
      </li>
    </ul>
  </div>